// Color Variables
$primary-blue: #3d4cad;
$primary-orange: #db5024;
$secondary-light: #fff;

// Font Imports
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

// Transitions

@mixin easeOut {
  transition: all 0.4s ease-out;
}

// Animations

.fade-in-element {
  animation: fade-in 0.4s;
}

.hidden {
  opacity: 0;
}

// Animation Keyframes

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  100% {
    opacity: 1;
  }
}
